// Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this.


img
  height: auto
  max-width: 100%

.block--block-irt_theme-local-tasks,
.block--system-menu
  display: flex
  margin: .5rem
  padding: .5rem 1rem

  header
    font-weight: $font-weight-bold

  & > ul
    @extend .nav
    @extend .nav-tabs
    border-bottom: 0px solid transparent

    li
      @extend .nav-item
      padding: 0.5rem


      a
        +remove-better-underline
        @extend .nav-link
        border: 2px solid $main-blue
        border-radius: 0.5rem
        color: $main-blue


h1
  color: $main-blue
a
  color: #007bff

.form-select
  max-width: 30rem
  min-width: 30rem

label
  margin-bottom: 0rem
  margin-top: 0.5rem

.button-action
  @extend .btn-primary
  @extend .btn

#block-irt-theme-obligationhelptextblock,
#block-updateindicatorstatestep1block,
#block-irt-theme-producereportstep1block,
#block-reportingobligationmanageframeworkblock
  background-color: white
  border-radius: .5rem
  padding: 0.5rem
  color: black

#block-updateindicatorstatestep1block
  > ol
    padding-left: 1rem


#block-irtworkflow
  margin: 1.5rem
  text-align: center

.btn-primary
  border: 2px solid white

.main-page-row
  background-color: $main-blue
  border-radius: .5rem
  .col-sm-3,
  .col-sm-12,
  .col-sm-6
    padding: 1rem
    color: white
    border-right: 2px solid

.main-page-row-grey
  background-color: $light-grey
  border-radius: .5rem
  .col-sm-12
    padding: 1rem


.irt-toolbar-text1,
.irt-toolbar-text2,
.irt-toolbar-text3,
.irt-toolbar-text4,
.irt-toolbar-text5
  border: 3px solid $main-blue
  border-radius: 1rem
  padding: .75rem
  margin-top: 1rem


.irt-toolbar-link1,
.irt-toolbar-link2,
.irt-toolbar-link3,
.irt-toolbar-link4,
.irt-toolbar-link5
  cursor: pointer
  width: 100%
  min-height: 5.5rem
  display: flex
  align-items: center
  justify-content: center

.irt-toolbar
  background-color: $main-blue
  padding: 3rem

.irt-steps-node-view
  background-color: $light-grey
  padding-top: 1rem


table
  background-color: $light-grey

form
  border: 2px solid $main-blue
  border-radius: 0.5rem
  padding: 0.2rem

.views-exposed-form
  border: 0px solid transparent
  display: flex
  > div
    padding-right: 1rem
  .js-form-item-title,
  .js-form-item-combine
    display: flex

#views-exposed-form-create-update-indicator-state-page-1
  .form-actions
    @extend .align-self-end



.ief-entity-table
  background: transparent
  td
    padding: 0.5rem

.description
  font-size: smaller
  color: grey
  font-style: italic

.group-logo
  height: 150px
  width: 150px

.group-home-label
  color: black
  font-weight: bolder
  a
    color: $main-blue

.group-block-row
  margin-bottom: 0.5rem

#highlighted
  [role = "alert"]
    background-color: #ff000047
    border: 1px solid red
    border-radius: 0.5rem
    padding: 0.5rem

.views-list
  list-style-type: none
  margin: 0
  padding: 0
  > li
      border: 3px solid $main-blue
      border-radius: 0.5rem
      margin-bottom: 1rem
      padding: 0.5rem

#edit-name--description,
#edit-pass--description
  color: white

#edit_field_year_valid_0_value_year_chosen
  width: fit-content !important

.main-content-container

  max-width: 80rem


.col-2dot4
  position: relative
  width: 100%
  min-height: 1px
  padding-right: 15px
  padding-left: 15px

@media (min-width: 576px)
  .col-2dot4
    flex: 0 0 20%
    max-width: 20%

.pager
  text-align: center
  .is-active
    a
      color: #fff
      background-color: #337ab7
      border-color: #337ab7
      cursor: default
  ul
    display: inline-block
    padding-left: 0
    margin: 20px 0
    border-radius: 4px
  li
    display: inline
    padding: 4px
    > a
      position: relative
      float: left
      padding: 6px 12px
      line-height: 1.42857
      text-decoration: none
      color: #337ab7
      background-color: #fff
      border: 1px solid #ddd
      margin-left: -1px
