// Layout rules divide the page into sections. Layouts hold one or more modules together.

.create-button
  margin-bottom: .5rem

.user-login-form
  background-color: $main-blue
  padding: 1rem
  border-radius: .5rem
  color: white

.step-links
  border: 1px solid
  margin: 0.5rem
  padding: 0.5rem
  border-radius: 0.5rem

.views-obligation_filter-select
  max-width: 15rem

#block-tabs
  ul
    display: flex
    .group-admin-navigation
      a
        border-bottom: 1px solid grey
        padding: 0.5rem
      .is-active
        border: 1px solid black
        border-bottom: 0px
        border-radius: 2px

#block-irt-theme-content
  table
    caption
      caption-side: inherit
      color: black
