// Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.

.layout-sidebar-first
  border-radius: .5rem
  border: 3px solid $main-blue

.relate-definition
  border-radius: .5rem
  border: 3px solid $main-blue
  padding: 1rem

.field--type-entity-reference
  border: 2px solid $main-blue
  padding: 0.5rem
  border-radius: 0.5rem
  margin: 0.5rem

.view-row-wrapper
  border-radius: .5rem
  border: 3px solid $main-blue
  margin-bottom: 1rem