/*#state, #trend, #confidence {*/
  /*position: absolute;*/
  /*width: 100px;*/
  /*height: 50px;*/
/*}*/
/*#state {*/
  /*left: 10px;*/
  /*top: 10px;*/
  /*!*background: red;*!*/
  /*z-index: -1;*/
/*}*/
/*#trend {*/
  /*left: 25px;*/
  /*top: 25px;*/
  /*background: darkcyan;*/
/*}*/
/*#confidence {*/
  /*left: 35px;*/
  /*top: 35px;*/
  /*background: silver;*/
/*}*/
/*div:first-of-type {*/
  /*transform: scale(1.01);*/
  /*opacity: 0.99;*/
/*}*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.bd-black {
  border-color:#000!important;
}
.bg-green {
  background-color: #01b659;
}
.bg-red {
  background-color: #f00;
}
.bg-yellow {
  background-color: #ff0;
}
.thumbs-container {
  border:3px solid;
  border-radius:20px;
  border-collapse:collapse;
  display:inline-block;
  min-width:80px;
  background-image:linear-gradient(90deg,#FEFEFE,#bcc2c6);
}
.thumbs-cover {
  border-radius:20px;
  border-bottom:3px solid;
  position:relative;
  line-height:190px;
  text-align:center;
  text-shadow:-3px 3px 3px #333;
  font-size:150px;
  color:#fff;
}
.thumbs-footer {
  padding:0;
  margin:0;
  display:table;
}
.thumbs-footer li {
  border-right:1px solid;
  text-transform:capitalize;
  text-align:center;
  display:table-cell;
  width:30%;
  list-style:none;
  color:#939594;
  font-weight:bold;
  padding:15px 8px;
}

.thumbs-footer .thumbs-active {
  color:#000 !important;
  text-transform:uppercase !important;
}
.thumbs-footer li:last-child {
  border-right:unset;
}
.hello{
  background-image: url("../images/fair_deteriorating_high.png");
}
