{{ attach_library('irt/symbols') }}

{#{% if data.state == 'good' %}#}
    {#{% set bg = 'bg-green' %}#}
{#{% elseif data.state == 'fair' %}#}
    {#{% set bg = 'bg-yellow' %}#}
{#{% elseif data.state == 'poor' %}#}
    {#{% set bg = 'bg-red' %}#}
{#{% endif %}#}

    {#{% if data.confidence == 'high' %}#}
        {#{% set high_active = 'thumbs-active' %}#}
    {#{% endif %}#}
    {#{% if data.confidence != 'high' %}#}
        {#{% set high_active = "" %}#}
    {#{% endif %}#}
    {#{% if data.confidence == 'medium' %}#}
        {#{% set mid_active = 'thumbs-active' %}#}
    {#{% endif %}#}
    {#{% if data.confidence != 'medium' %}#}
        {#{% set mid_active = "" %}#}
    {#{% endif %}#}
    {#{% if data.confidence == 'low' %}#}
        {#{% set low_active = 'thumbs-active' %}#}
    {#{% endif %}#}
    {#{% if data.confidence != 'low' %}#}
        {#{% set low_active = "" %}#}
    {#{% endif %}#}

{#<div class="thumbs-container bd-black">#}
    {#<div class="thumbs-cover {{ bg }} bd-black">#}
        {#<i class="fa fa-fw fa-long-arrow-down">#}
        {#</i>#}
    {#</div>#}
    {#<ul class="thumbs-footer">#}
        {#<li class="bd-black {{ low_active }}">#}
            {#low#}
        {#</li>#}
        {#<li class="bd-black {{ mid_active }}">#}
            {#mid#}
        {#</li>#}
        {#<li class="bd-black {{ high_active }}">#}
            {#high#}
        {#</li>#}
    {#</ul>#}
{#</div>#}
{#{{ image }}#}
{% if image == 'Image missing-value not selected' %}
    {% set error = 'Indicator image missing (please select value from step 6 of Indicator state)' %}
{% elseif image == 'Image missing-database' %}
    {% set error = 'Indicator image missing from database ( please contact site administer)' %}
{% endif %}


<div class="indicator-icon">
    <span>
        {% if error %}
            <p class="bg-warning">
            {{ error }}
            </p>
        {% else %}
        <img src="{{ image }}" height="200px", width="250px">
        <p>Data valid as of: {{ date }}</p>
        {% endif %}
    </span>
</div>