<div class="layout-container">

    <header role="banner">
        {{ page.header }}
    </header>

    {{ page.navigation }}

    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}


        <div class="container">
            <div class="row">
                <div class="col-sm-3">
        {% if page.primary_menu %}
            <div class="layout-primary_menu">
                {{ page.primary_menu }}
            </div>
        {% endif %}
                </div>
                <div class="col-sm-9">
        {% if page.secondary_menu %}
            <div class="layout-primary_menu">
                {{ page.secondary_menu }}
            </div>
        {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if page.help %}
                        <div class="layout-help">
                            {{ page.help }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if page.pre_content %}
                        <div class="layout-pre_content">
                            {{ page.pre_content }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if page.highlighted %}
                        <div class="layout-highlighted">
                            {{ page.highlighted }}
                            <br>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container main-content-container">
          <div class="row">
            {% if page.sidebar_first %}
              <div class="col-sm-3">
                <aside class="layout-sidebar-first" role="complementary">
                  {{ page.sidebar_first }}
                </aside>
               </div>
            <div class="col-sm-9">
              <div class="layout-content">
                 <div class="container--inner">
                   {{ page.content }}
                 </div>
              </div>{# /.layout-content #}
            </div>
            {% else %}
            <div class="col-sm-12">
               <div class="layout-content">
                        <div class="container--inner">
                            {{ page.content }}
                        </div>
                    </div>{# /.layout-content #}
                </div>
            {% endif %}
        </div>
    </div>

      {% if page.footer %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
        <footer role="contentinfo">
          {{ page.footer }}
        </footer>
                </div>
            </div>
        </div>
      {% endif %}
    </main>
</div>{# /.layout-container #}
