=better-anchor-underline($bg-col, $link-col, $hover-col: $link-hover-color)
  background-image: linear-gradient($link-col 0%, $link-col 100%)
  background-position: 0 90%
  background-repeat: repeat-x
  background-size: .06em .06em
  color: $link-color

  @media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi)
    background-position: 0 93%

  text-shadow: 0.06em 1px $bg-col, 1px 1px $bg-col, -1px 1px $bg-col, -0.06em 1px $bg-col, 0.06em 0 $bg-col, 1px 0 $bg-col, -1px 0 $bg-col, -0.06em 0 $bg-col, 0.06em -1px $bg-col, 1px -1px $bg-col, -1px -1px $bg-col, -0.06em -1px $bg-col

  &:hover
    background-image: linear-gradient(to bottom, $hover-col 0%, $hover-col 100%)
    color: $link-hover-color
    text-decoration: none

  &,
  > *
    &::selection
      background-color: $link-col
      background-image: linear-gradient($bg-col 0%, $bg-col 100%)
      color: $bg-col
      text-shadow: none

=remove-better-underline
  background-image: none
  color: auto
  text-shadow: none
